.DS_Store

*.ipynb_checkpoints*
*__pycache__*

env

Binaries/Dataset-1/
Binaries/Dataset-2/
Binaries/Muaz-dataset/
Binaries/Dataset-Vulnerability/

IDBs/Dataset-1/
IDBs/Dataset-2/
IDBs/Dataset-Vulnerability/

DBs/*.zip
DBs/Dataset-1-CodeCMR/*.csv
DBs/Dataset-1-CodeCMR/features/
DBs/Dataset-1-CodeCMR/pairs/
DBs/Dataset-1/*.csv
DBs/Dataset-1/features/
DBs/Dataset-1/pairs/
DBs/Dataset-2/*.csv
DBs/Dataset-2/features/
DBs/Dataset-2/pairs/
DBs/MUAZ_bins_acfg/*
DBs/dataset1_and_MUAZ1/*
DBs/small_dataset1_and_muaz/*

Results/data/
