.DS_Store

*.ipynb_checkpoints*
*__pycache__*

env

Models/GGSNN-GMN/Preprocessing/Dataset*
Models/GGSNN-GMN/NeuralNetwork/Dataset*
cisco_env

Binaries/Dataset*
Binaries/Dataset-1/
Binaries/Dataset-2/
Binaries/Muaz-dataset/
Binaries/Dataset-Vulnerability/
Binaries/coreutils*
Binaries/*dataset*

IDBs/Dataset-1/
IDBs/Dataset-2/
IDBs/Dataset-Vulnerability/
IDBs/Dataset*
IDBs/*

DBs
DBs/**/*
DBs/*.zip
DBs/Dataset-1-CodeCMR/*.csv
DBs/Dataset-1-CodeCMR/features/
DBs/Dataset-1-CodeCMR/pairs/
DBs/Dataset-1/*.csv
DBs/Dataset-1/features/
DBs/Dataset-1/pairs/
DBs/Dataset-2/*.csv
DBs/Dataset-2/features/
DBs/Dataset-2/pairs/
DBs/MUAZ_bins_acfg/*
DBs/dataset1_and_MUAZ1/*
DBs/small_dataset1_and_muaz/*

IDA_scripts/dataset_creation_notebooks/Dataset-Muaz_creation.ipynb
IDA_scripts/dataset_creation_notebooks/Dataset-Muaz_creation.nbconvert.ipynb
IDA_scripts/**/*_log.txt
IDA_scripts/**/*.nbconvert.*
IDA_scripts/generate_idbs.py

Models/GGSNN-GMN/**/**dict_opc_*
Models/Asm2vec/*Dataset*
Models/SAFE/NeuralNetwork/Dataset*
Models/SAFE/Pretraining/Dataset*
Models/SAFE/Preprocessing/Dataset*
Models/SAFE/Pretesting/Dataset*
Models/Trex/NeuralNetwork/Dataset*
Models/Trex/NeuralNetwork/data*
Models/Trex/Preprocessing/Dataset*
Models/Zeek/NeuralNetwork/Dataset*
Models/Zeek/Preprocessing/Dataset*
Models/Zeek/Preprocessing/zeek_intermediate
Models/mutantX/MUTANTX2
Models/mutantX/bytes
Models/mutantX/*Dataset*
Models/Forest

Results/data/
Results/my_exp_data
Results/**/*Dataset*
Results/**/*.png
Results/**/*.csv

Binaries/*

**/*.old
**/*.zip

conda.gpg
wget-log
